src/main/resources/Arrivals.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="ctatt">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="tmst" type="xs:string" />
                <xs:element name="errCd" type="xs:unsignedByte" />
                <xs:element name="errNm" />
                <xs:element maxOccurs="unbounded" name="eta">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="staId" type="xs:unsignedShort" />
                            <xs:element name="stpId" type="xs:unsignedShort" />
                            <xs:element name="staNm" type="xs:string" />
                            <xs:element name="stpDe" type="xs:string" />
                            <xs:element name="rn" type="xs:unsignedShort" />
                            <xs:element name="rt" type="xs:string" />
                            <xs:element name="destSt" type="xs:unsignedShort" />
                            <xs:element name="destNm" type="xs:string" />
                            <xs:element name="trDr" type="xs:unsignedByte" />
                            <xs:element name="prdt" type="xs:string" />
                            <xs:element name="arrT" type="xs:string" />
                            <xs:element name="isApp" type="xs:unsignedByte" />
                            <xs:element name="isSch" type="xs:unsignedByte" />
                            <xs:element name="isDly" type="xs:unsignedByte" />
                            <xs:element name="isFlt" type="xs:unsignedByte" />
                            <xs:element name="flags" type="xs:string" />
                            <xs:element name="lat" type="xs:decimal" />
                            <xs:element name="lon" type="xs:decimal" />
                            <xs:element name="heading" type="xs:unsignedShort" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>